.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm button {
  margin: 10px auto 0;
}

.formControl.error input,
.formControl.error textarea {
  border: red 2px solid;
}

.formControl.error span {
  color: red;
}

.formControlSummaryError {
  margin: 10px;
  border: red 2px solid;
  padding: 5px 10px;
  color: rgb(77, 3, 3);
}

.checkbox div {
  display: flex;
  align-items: center;
}

