.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm button {
    margin: 10px auto 0;
}
.formControl.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formControl.error input,
.formControl.error textarea {
    border: red 2px solid;
}

.errorPassword {
    color: red;
    margin: 0 auto;
}

.formControlSummaryError {
    margin: 10px auto;
    border: red 2px solid;
    padding: 5px 10px;
    color: rgb(77, 3, 3);
}

.checkbox div {
    display: flex;
    align-items: center;
}

