.header {
  grid-area: h;
  display: flex;
  justify-content: space-around;
  background-color: #000000;
}

.header p {
  margin: 0;
  padding: 10px 30px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.loginBlock {
  padding: 15px 30px;
  color: #fff;
}


