.nav a {
  color: #ffffff;
  text-decoration: none;
}

a.active {
  color: gold;
}

.nav {
  display: flex;
  justify-content: space-around;
  min-width:  350px;
  padding: 0;
  list-style: none;
}

.nav li {
  color: #ffffff;
}


